
*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
*:focus-visible {
    outline: 1px solid #3A9B23 !important;
}
body{
    font-family: 'poppins-medium', sans-serif;
    scrollbar-width: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #3A9B23;
    --break-phone: 576px;
    --break-tablet: 768px;
    --break-notebook: 992px;
    --break-desktop: 1200px;
}

.bg-color-main{
    background-color: var(--primary-color);
}

.bg-light-green{
    background-color: #cff3c7;
}

.border-color-main{
    border: 2px;
    border-color: var(--primary-color);
}

.text-color-main{
    color: var(--primary-color);
}
.scroll-bar-none{
    scrollbar-width: none !important;
}
.bg-hover-main{
    background-color: #008000 !important;
}