@font-face {
    font-family: 'poppins-medium';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-bold';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
}
body{
    font-family: 'poppins-medium';
}
.poppins-bold{
    font-family: 'poppins-bold';
}
